<html>
<head>
    <style>
        {# Estilos globales #}
        html {
            height: 100%;
        }
        body {
            margin-top: 5px;
            font-family: Arial, sans-serif;
            font-size: 10pt;
            height: 100%;
        }
        p {
            margin: 5px 0;
        }
        {# Estilo detalle #}
        .label {
            font-weight: bold;
            width: 25%;
        }
        .bold {
            font-weight: bold;
        }
        {# Contenedores generales #}
        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .container-detalles {
            margin-top: 15pt;
            display: flex;
            justify-content: space-between;
        }
        .container-montos-globales {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            margin-left: auto;
        }
        .container-observacion {
            font-size: 9pt;
            bottom: 40mm;
            align-items: flex-end;
        }
        {# Información del Emisor #}
        .emisor-info {
            float: left;
            width: 60%;
            text-align: left;
        }
        .emisor-logo {
            max-width: 30mm;
            height: auto;
        }
        .emisor-razon-social {
            color: rgb(0, 64, 128);
            font-weight: bold;
            font-size: 14pt;
        }
        .emisor-giro {
            color: black;
            font-weight: bold;
            font-size: 9pt;
        }
        .emisor-direccion {
            color: black;
        }
        {# Información del DTE #}
        .container-dte {
            text-align: center;
            color: rgb(255, 0, 0);
            font-weight: bold;
            text-transform: uppercase;
        }
        .dte-informacion {
            min-height: 20mm;
            max-height: 40mm;
            min-width: 50mm;
            max-width: 90mm;
            border: 0.7mm solid rgb(255, 0, 0);
            font-size: 15pt;
        }
        .tipo-documento {
            font-size: 12pt;
        }
        .sucursal-sii {
            margin-top: 5px;
            font-size: 10pt;
            color: rgb(255, 0, 0);
        }
        {# Información Receptor y Fechas #}
        .receptor-info {
            float: left;
            width: 70%;
        }
        .fechas {
            float: right;
            text-align: right;
        }
        {# Tablas Generales #}
        .tabla-detalles {
            width: 100%;
            border-collapse: collapse;
            font-size: 10pt;
            border: 1px solid black;
        }
        .tabla-detalles th, td {
            white-space: nowrap;
            padding: 2px;
            border-left: 1px solid black;
            border-right: 1px solid black;
            text-align: center;
        }
        .tabla-detalles th {
            background-color: #f2f2f2;
            text-align: left;
            font-weight: bold;
            border-bottom: 1px solid black;
        }
        {# Tablas Receptor #}
        .tabla-receptor {
            border: none;
            border-collapse: collapse;
            width: 100%;
            text-align: left;
            font-size: 10pt;
            table-layout: fixed;
        }
        .tabla-receptor td {
            padding: 2px 5px;
            border: none;
            text-align: left;
            line-height: 1;
            word-wrap: break-word;
            white-space: normal;
        }
        {# Tabla montos globales #}
        .tabla-montos-global {
            border: none;
            width: 50px;
            font-size: 11pt;
            margin-left: auto;
        }
        .tabla-montos-global td {
            white-space: nowrap;
            font-weight: bold;
            padding: 2px 5px;
            border: none;
            text-align: right;
        }
        {# Tabla de montos -#}
        .tabla-montos {
            border: none;
            width: 80%;
            font-size: 11pt;
            border-collapse: collapse;
            margin-left: auto;
        }
        .tabla-montos td {
            white-space: normal;
            font-weight: bold;
            padding: 2px 5px;
            border: none;
            text-align: right;
        }
        .tabla-montos td:nth-child(2) {
            width: 40%;
        }
        {# Tabla timbre#}
        .tabla-timbre {
            margin-right: auto;
            border-collapse: collapse;
        }
        .tabla-timbre td {
            border: none;
        }
        .tabla-timbre .timbre-text {
            font-size: 10pt;
            margin: 2px;
            text-align: center;
        }
        .tabla-timbre .img-timbre {
            margin: 0;
            padding: 0;
            height: auto;
        }
        {# Tabla Bottom Element #}
        .tabla-bottom-element {
            width: 100%;
            border-collapse: collapse;
            position: relative;
            margin-top: auto;
            bottom: 0;
            table-layout: fixed;
        }
        .tabla-bottom-element > tbody > tr {
            height: 100%;
        }
        .tabla-bottom-element td {
            border: none;
            vertical-align: top;
        }
        .tabla-bottom-element-cell {
            width: 33%;
            vertical-align: top;
        }
        .tabla-bottom-element-cell table {
            max-height: auto;
            overflow: hidden;
            border-collapse: collapse;
        }
        {# Estilo de montos #}
        .montos {
            text-align: right;
            width: 50%;
            font-weight: bold;
            font-family: Arial, sans-serif;
            font-size: 11pt;
        }
        .montos div {
            margin-bottom: 5px;
        }
        .montos span {
            display: inline-block;
            min-width: 100px;
        }
        {# Acuse recibo #}
        .acuse-recibo {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid black;
        }
        .acuse-recibo td {
            padding: 5px;
            vertical-align: bottom;
            border: none;
            text-align: left;
        }
        .acuse-recibo .acuse-title {
            text-align: center;
            font-weight: bold;
            padding: 10px;
        }
        .acuse-recibo .acuse-recibo-label {
            text-align: justify;
            margin-top: 5px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            font-size: 8pt;
        }
        .acuse-recibo .linea {
            width: 70%;
            text-align: left;
        }
        .graph-img {
            border:1px solid black;
            height: 150px;
            text-align: center;
        }
        .cedible {
            font-size: 15pt;
            text-align: right;
            font-weight: bold;
            margin-left: auto;
        }
        @media print {
            @page {
                size: 216mm 279mm;
                margin: 15mm;
            }
            .container-dte {
                display: flex;
            }
            .dte-informacion p {
                padding: 1.5mm;
                margin: 0;
            }
            .informacion-bottom {
                position: absolute;
                bottom: 30px;
                left: 15mm;
                right: 15mm;
                width: auto;
            }
            .container-cedible {
                position: fixed;
                bottom: 0px;
            }
            .img-timbre {
                width: 60mm;
            }
            footer {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
                font-weight: bold;
                font-size: 8pt;
                border-top: 1px solid #000;
                padding: 5px 0;
                margin: 0;
                background-color: #fff;
            }
        }
        @media screen {
            body {
                font-size: 12pt;
                margin: 10px;
                min-height: 100%;
            }

            .tabla-detalles th, .tabla-detalles td {
                font-size: 11pt;
                padding: 5px;
            }
            .container {
                flex-wrap: wrap;
            }
            .container-dte {
                min-width: 70mm;
                height: auto;
                margin: 0;
            }
            .dte-informacion p {
                margin: 5px 0;
            }
            .sucursal-sii {
                margin-top: 10px;
                font-size: 10pt;
                color: rgb(255, 0, 0);
            }
            .informacion-bottom {
                margin: 8px 0;
                width: 100%;
            }
            .img-timbre {
                width: auto;
            }
            footer {
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
                font-weight: bold;
                font-size: 8pt;
                border-top: 1px solid #000;
                padding: 5px 0;
                margin: 0;
                background-color: #fff;
                padding-top: 5px;
            }
        }
    </style>
</head>
    <body>
        <div class="container">
            {# Información del Emisor #}
            <div class="emisor-info">
                {# Logotipo #}
                {% if document.logo is not empty %}
                    <img src="{{ document.logo }}" alt="Logotipo Emisor" class="emisor-logo">
                {% endif %}
                {# Razón Social del Emisor #}
                <p class="emisor-razon-social">
                    {{ document.Encabezado.Emisor.RznSoc
                        | default(document.Encabezado.Emisor.RznSocEmisor) }}
                </p>
                {# Giro del Emisor #}
                <p class="emisor-giro">
                    {{ document.Encabezado.Emisor.GiroEmis
                        | default(document.Encabezado.Emisor.GiroEmisor) }}
                </p>
                {# Dirección del Emisor #}
                <p class="emisor-direccion">
                    {{ [document.Encabezado.Emisor.DirOrigen, document.Encabezado.Emisor.CmnaOrigen]
                        | filter(v => v is not empty)
                        | join(', ')
                    }}
                </p>
            </div>
            <div class="container-dte">
                {# Información del DTE #}
                <div class="dte-informacion">
                    <p>
                        R.U.T.: {{ document.Encabezado.Emisor.RUTEmisor
                            | format_as('billing_document.RUTEmisor') }}
                    </p>
                    <p class="tipo-documento">
                        {{ document.Encabezado.IdDoc.TipoDTE
                            | format_as('billing_document.TipoDTE') }}
                    </p>
                    <p>
                        N° {{ document.Encabezado.IdDoc.Folio }}
                    </p>
                </div>
                {# Sucursal SII #}
                <p class="sucursal-sii">
                    S.I.I. - {{ document.Encabezado.Emisor.CmnaOrigen
                    | format_as('billing_document.CdgSIISucur') }}
                </p>
            </div>
        </div>
        <div class="container">
            {# Información del Receptor #}
            <div class="receptor-info">
                <table class="tabla-receptor">
                    <tbody>
                        {# Información del Receptor #}
                        {% if document.Encabezado.Receptor.RUTRecep != '66666666-6' %}
                            <tr>
                                <td class="label">R.U.T.:</td>
                                <td>
                                    {{ document.Encabezado.Receptor.RUTRecep
                                        | format_as('billing_document.RUTRecep') }}
                                    </td>
                            </tr>
                        {% endif %}
                        {# Razón Social #}
                        {% if document.Encabezado.Receptor.RznSocRecep is not empty %}
                            <tr>
                                <td class="label">Razón Social:</td>
                                <td>
                                    {{ document.Encabezado.Receptor.RznSocRecep }}
                                </td>
                            </tr>
                        {% endif %}
                        {# Giro #}
                        {% if document.Encabezado.Receptor.GiroRecep is not empty %}
                        <tr>
                            <td class="label">Giro:</td>
                            <td>
                                {{ document.Encabezado.Receptor.GiroRecep }}
                            </td>
                        </tr>
                        {% endif %}
                        {# Dirección #}
                        {% if document.Encabezado.Receptor.DirRecep is not empty %}
                            <tr>
                                <td class="label">Dirección:</td>
                                <td>
                                    {{
                                        [
                                            document.Encabezado.Receptor.DirRecep,
                                            document.Encabezado.Receptor.CmnaRecep,
                                            document.Encabezado.Receptor.CiudadRecep
                                        ]
                                        | filter(v => v is not empty)
                                        | join(', ')
                                    }}
                                </td>
                            </tr>
                        {% endif %}
                        {# Tipo de Operación #}
                        {% if document.Encabezado.IdDoc.IndTraslado is not empty %}
                            <tr>
                                <td class="label">Tipo oper.:</td>
                                <td>
                                    {{ document.Encabezado.IdDoc.IndTraslado
                                        | format_as('billing_document.IndTraslado') }}
                                </td>
                            </tr>
                        {% endif %}
                        {# Traslado #}
                        {% if document.Encabezado.Transporte is not empty %}
                            <tr>
                                <td class="label">Traslado:</td>
                                <td>
                                    A {{
                                        [
                                            document.Encabezado.Transporte.DirDest,
                                            document.Encabezado.Transporte.CmnaDest
                                        ] | filter(v => v is not empty) | join(', ')
                                    }}
                                    por {{ document.Encabezado.Transporte.RUTTrans | format_as('billing_document.RUTTrans') }}
                                    en vehículo {{ document.Encabezado.Transporte.Patente }}
                                    con chofer {{ document.Encabezado.Transporte.Chofer.NombreChofer }}
                                    ({{ document.Encabezado.Transporte.Chofer.RUTChofer | format_as('billing_document.RUTChofer') }})
                                </td>
                            </tr>
                        {% endif %}
                        {# Transporte #}
                        {% if document.Encabezado.Transporte.Aduana.CodViaTransp is not empty %}
                            <tr>
                                <td class="label">Traslado:</td>
                                <td>
                                    {{ document.Encabezado.Transporte.Aduana.CodViaTransp
                                        | format_as('billing_document.CodViaTransp') }}
                                </td>
                            </tr>
                        {% endif %}
                        {# País receptor #}
                        {% if document.Encabezado.Transporte.Aduana.CodPaisRecep is not empty %}
                            <tr>
                                <td class="label">P. receptor:</td>
                                <td>
                                    {{ document.Encabezado.Transporte.Aduana.CodPaisRecep
                                        | format_as('billing_document.CodPaisRecep') }}
                                </td>
                            </tr>
                        {% endif %}
                        {# Total bultos #}
                        {% if document.Encabezado.Transporte.Aduana.TotBultos is not empty %}
                            <tr>
                                <td class="label">Total bultos:</td>
                                <td>{{ document.Encabezado.Transporte.Aduana.TotBultos }}</td>
                            </tr>
                        {% endif %}
                        {# Contacto #}
                        {% if document.Encabezado.Receptor.CorreoRecep is not empty or document.Encabezado.Receptor.Contacto is not empty %}
                            <tr>
                                <td class="label">Contacto:</td>
                                <td>
                                    {{ document.Encabezado.Receptor.CorreoRecep }}{{ document.Encabezado.Receptor.Contacto }}
                                </td>
                            </tr>
                        {% endif %}
                        {# Nacionalidad #}
                        {% if document.Encabezado.Receptor.Extranjero is not empty %}
                            <tr>
                                <td class="label">Nacionalidad:</td>
                                <td>
                                    {{ document.Encabezado.Receptor.Extranjero.Nacionalidad
                                        | format_as('billing_document.Nacionalidad') }}
                                </td>
                            </tr>
                        {% endif %}
                        {# Cód. recep #}
                        {% if document.Encabezado.Receptor.CdgIntRecep is not empty %}
                            <tr>
                                <td class="label">Cód. recep.:</td>
                                <td>
                                    {{ document.Encabezado.Receptor.CdgIntRecep }}
                                </td>
                            </tr>
                        {% endif %}
                        {# Referencias #}
                        {% if document.Referencia is not empty %}
                            {% for referencia in document.Referencia %}
                            <tr>
                                <td class="label">Referencia:</td>
                                <td>
                                    {{ loop.index }} - {{ referencia.TpoDocRef | format_as('billing_document.TpoDocRef') }}{% if referencia.IndGlobal != 1 %} N°{{ referencia.FolioRef }}{% endif %} del {{ referencia.FchRef | format_as('billing_document.FchRef') }}{% if referencia.RazonRef is not empty %}: {{ referencia.RazonRef }}{% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

            </div>
            <div class="fechas">
                {# Fecha de Emisión -#}
                <p class="bold">
                    {{ document.Encabezado.IdDoc.FchEmis
                        | format_as('billing_document.FchEmis')  }}
                </p>
                {# Fecha de Vencimiento -#}
                {% if document.Encabezado.IdDoc.FchVenc is not empty %}
                    <p>
                        Vence el {{ document.Encabezado.IdDoc.FchVenc
                            | format_as('billing_document.FchVenc')  }}
                    </p>
                {% endif %}
                {# Período Desde/Hasta -#}
                {% if document.Encabezado.IdDoc.PeriodoDesde is not empty and
                    document.Encabezado.IdDoc.PeriodoHasta is not empty %}
                    <p>
                        Período del {{ document.Encabezado.IdDoc.PeriodoDesde
                            | format_as('billing_document.PeriodoDesde')  }}
                        al {{ document.Encabezado.IdDoc.PeriodoHasta
                            | format_as('billing_document.PeriodoHasta')  }}
                    </p>
                {% endif %}
                {# Forma de Pago -#}
                {% if document.Encabezado.IdDoc.FmaPago is not empty %}
                    <p>Venta: {{ document.Encabezado.IdDoc.FmaPago
                        | format_as('billing_document.FmaPago') }}</p>
                {% endif %}
                {# Vendedor -#}
                {% if document.Encabezado.Emisor.CdgVendedor is not empty %}
                    <p>Venta: {{ document.Encabezado.Emisor.CdgVendedor }}</p>
                {% endif %}
            </div>
        </div>
        <div class="container container-detalles">
            <table class="tabla-detalles">
                {# Encabezados de la Tabla -#}
                <thead>
                    <tr>
                        {% set columns = {
                            'codigo': {
                                'show': document.Detalle | filter(detalle => detalle.CdgItem is not empty and detalle.CdgItem.VlrCodigo is not empty) | length > 0,
                                'title': 'Código',
                                'width': '10%',
                                'align': 'left',
                                'value': 'CdgItem',
                                'format': null,
                            },
                            'item': {
                                'show': document.Detalle | filter(detalle => detalle.NmbItem is not empty) | length > 0,
                                'title': 'Ítem',
                                'width': '64%',
                                'align': 'left',
                                'value': 'NmbItem',
                                'format': null,
                                'description': 'DscItem'
                            },
                            'indexe': {
                                'show': document.Detalle | filter(detalle => detalle.IndExe is not empty) | length > 0,
                                'title': 'IE',
                                'width': '5%',
                                'align': 'left',
                                'value': 'IndExe',
                                'format': 'indexe'
                            },
                            'cantidad': {
                                'show': document.Detalle | filter(detalle => detalle.QtyItem is not empty) | length > 0,
                                'title': 'Cant.',
                                'width': '12%',
                                'align': 'right',
                                'value': 'QtyItem',
                                'format': 'number'
                            },
                            'unidad': {
                                'show': document.Detalle | filter(detalle => detalle.UnmdItem is not empty) | length > 0,
                                'title': 'Unidad',
                                'width': '10%',
                                'align': 'left',
                                'value': 'UnmdItem',
                                'format': null
                            },
                            'precio_unitario': {
                                'show': document.Detalle | filter(detalle => detalle.PrcItem is not empty) | length > 0,
                                'title': 'P. Unitario',
                                'width': 'auto',
                                'align': 'right',
                                'value': 'PrcItem',
                                'format': 'number'
                            },
                            'descuento': {
                                'show': document.Detalle | filter(detalle => detalle.DescuentoMonto is not empty or detalle.DescuentoPct is not empty) | length > 0,
                                'title': 'Descuento',
                                'width': '10%',
                                'align': 'right',
                                'value': 'DescuentoMonto',
                                'format': 'number'
                            },
                            'total_item': {
                                'show': document.Detalle | filter(detalle => detalle.MontoItem is not empty) | length > 0,
                                'title': 'Total Ítem',
                                'width': '12%',
                                'align': 'right',
                                'value': 'MontoItem',
                                'format': 'number'
                            }
                        } %}
                        {# Renderizar encabezados dinámicamente -#}
                        {% for key, column in columns %}
                            {% if column.show %}
                                <th style="width: {{ column.width }}; text-align: {{ column.align }};">{{ column.title }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                {# Cuerpo de la Tabla -#}
                <tbody>
                    {% set subtotal = 0 %}
                    {% for detalle in document.Detalle %}
                        <tr>
                            {% for key, column in columns %}
                                {% if column.show %}
                                    <td style="text-align: {{ column.align }};">
                                        {% if key == 'item' %}
                                            <div>
                                                {{ attribute(detalle, column.value)
                                                    | default('') }}
                                            </div>
                                            {% if attribute(detalle, column.description) is not empty %}
                                                <div style="font-size: 6pt;">
                                                    {{ attribute(detalle, column.description)
                                                        | default('') }}
                                                </div>
                                            {% endif %}
                                        {% elseif column.format == 'indexe' %}
                                            {{ detalle.IndExe == 1
                                                ? 'EX'
                                                : attribute(detalle, column.value)
                                                | default('') }}
                                        {% elseif column.format == 'number' %}
                                            {{ attribute(detalle, column.value) is not empty
                                                ? attribute(detalle, column.value)
                                                | number_format(0, ',', '.')
                                                : '' }}
                                        {% elseif key == 'codigo' %}
                                            {{ detalle.CdgItem is not empty and detalle.CdgItem.VlrCodigo is not empty
                                                ? detalle.CdgItem.VlrCodigo
                                                : '' }}
                                        {% else %}
                                            {{ attribute(detalle, column.value)
                                                | default('') }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% if detalle.MontoItem is not empty %}
                            {% set subtotal = subtotal + detalle.MontoItem %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if document.DscRcgGlobal is not empty %}
        <div class="container container-montos-globales">
            <table class="tabla-montos-global">
                <tbody style="text-align: left;">
                    <tr>
                        <td class="label">
                            Subtotal:
                        </td>
                        <td>
                            {{ subtotal
                                | number_format(0, ',', '.') }}
                        </td>
                    </tr>
                    {# Descuento o Recargo #}
                    {% for descuento in document.DscRcgGlobal %}
                    <tr>
                        <td class="label">
                            {{ descuento.TpoMov
                                | trim
                                | upper == "D"
                                ? "Descuento:"
                                : "Recargo:" }}
                        </td>
                        <td>{{ descuento.ValorDR }}{{ descuento.TpoValor }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {# Observación #}
        {% if document.Encabezado.IdDoc.TermPagoGlosa is not empty %}
        <div class="container-observacion">
            <p>
                <span class="bold">Observación:</span>
                {{ document.Encabezado.IdDoc.TermPagoGlosa | raw }}
            </p>
        </div>
        {% endif %}
        <div class="container informacion-bottom" {% if acuse_recibo is empty %}style="bottom: 130px;"{% endif %}>
            <table class="tabla-bottom-element">
                <tr>
                    <td class="tabla-bottom-element-cell">
                        {# Contenedor del Timbre #}
                        {% if document_stamp is not empty %}
                            <table class="tabla-timbre">
                                <tr>
                                    <td>
                                        <img class="img-timbre" src="{{ document_stamp | format_as('billing_document.TED') }}" alt="Timbre Electrónico: TED en formato PDF417">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="timbre-text">Timbre Electrónico S.I.I.</td>
                                </tr>
                                <tr>
                                    {% if document_auth is not empty %}
                                        <td class="timbre-text">
                                            Resolución {{ document_auth.NroResol }} del {{ document_auth.FchResol | format_as('billing_document.FchResol') }}
                                        </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td class="timbre-text">Verifique documento en: www.sii.cl</td>
                                </tr>
                            </table>
                        {% endif %}
                    </td>
                    <td class="tabla-bottom-element-cell">
                        {# Acuse de Recibo -#}
                        {% if acuse_recibo is not empty %}
                            <table class="acuse-recibo">
                                <tr>
                                    <td colspan="2" class="acuse-title">Acuse de recibo</td>
                                </tr>
                                <tr>
                                    <td class="label">Nombre</td>
                                    <td class="linea">__________________________</td>
                                </tr>
                                <tr>
                                    <td class="label">RUN</td>
                                    <td class="linea">__________________________</td>
                                </tr>
                                <tr>
                                    <td class="label">Fecha</td>
                                    <td class="linea">__________________________</td>
                                </tr>
                                <tr>
                                    <td class="label">Recinto</td>
                                    <td class="linea">__________________________</td>
                                </tr>
                                <tr>
                                    <td class="label">Firma</td>
                                    <td class="linea">__________________________</td>
                                </tr>
                            </table>
                            <p class="acuse-recibo-label">
                                El acuse de recibo que se declara en este acto, de acuerdo a lo dispuesto en la letra b) del Art.4°, y la letra c) del Art. 5° de la Ley 19.983, acredita que la entrega de mercaderías o servicio(s) prestado(s) ha(n) sido recibido(s).
                            </p>
                        {% endif %}
                    </td>
                    <td class="tabla-bottom-element-cell">
                        {# Montos #}
                        <table class="tabla-montos">
                            <tbody>
                                {% set otraMoneda = document.Encabezado.Totales.TpoMoneda is not empty and document.Encabezado.Totales.TpoMoneda == 'DOLAR USA' %}
                                {# Neto -#}
                                {% if document.Encabezado.Totales.MntNeto is not empty %}
                                    <tr>
                                        <td> Neto $: </td>
                                        <td>
                                            {% if otraMoneda %}
                                                {{ document.Encabezado.Totales.MntNeto
                                                    | number_format(2, '.', ',') }}
                                            {% else %}
                                                {{ document.Encabezado.Totales.MntNeto
                                                    | number_format(0, ',', '.') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {# Monto -#}
                                {% if document.Encabezado.Totales.TpoMoneda is not empty %}
                                    <tr>
                                        <td> Moneda: </td>
                                        <td>
                                            {{ document.Encabezado.Totales.TpoMoneda }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {# Exento -#}
                                {% if document.Encabezado.Totales.MntExe is not empty %}
                                    <tr>
                                        <td> Exento $: </td>
                                        <td>
                                            {% if otraMoneda %}
                                                {{ document.Encabezado.Totales.MntExe
                                                    | number_format(2, '.', ',') }}
                                            {% else %}
                                                {{ document.Encabezado.Totales.MntExe
                                                    | number_format(0, ',', '.') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {# IVA -#}
                                {% if document.Encabezado.Totales.IVA is not empty %}
                                    <tr>
                                        <td>
                                            IVA {{ document.Encabezado.Totales.TasaIVA is not empty
                                                ? '(' ~ document.Encabezado.Totales.TasaIVA ~ '%):'
                                                : '$:' }}
                                        </td>
                                        <td>
                                            {% if otraMoneda %}
                                                {{ document.Encabezado.Totales.IVA
                                                    | number_format(2, '.', ',') }}
                                            {% else %}
                                                {{ document.Encabezado.Totales.IVA
                                                    | number_format(0, ',', '.') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {# IVA no retenido -#}
                                {% if document.Encabezado.Totales.IVANoRet is not empty %}
                                    <tr>
                                        <td>
                                            IVA no retenido:
                                        </td>
                                        <td>
                                            {% if otraMoneda %}
                                                {{ document.Encabezado.Totales.IVANoRet
                                                    | number_format(2, '.', ',') }}
                                            {% else %}
                                                {{ document.Encabezado.Totales.IVANoRet
                                                    | number_format(0, ',', '.') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {# IVA adicional -#}
                                {% if document.Encabezado.Totales.ImptoReten is not empty %}
                                    {% for impuesto in document.Encabezado.Totales.ImptoReten %}
                                    <tr>
                                        <td>
                                            {{ impuesto.TipoImp }} ({{ impuesto.TasaImp }}%):
                                        </td>
                                        <td>
                                            {% if otraMoneda %}
                                                {{ impuesto.MontoImp
                                                    | number_format(2, '.', ',') }}
                                            {% else %}
                                                {{ impuesto.MontoImp
                                                    | number_format(0, ',', '.') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                {# Total -#}
                                <tr>
                                    <td>Total $:</td>
                                    <td>
                                        {% if otraMoneda %}
                                            {{ document.Encabezado.Totales.MntTotal
                                                | number_format(2, '.', ',') }}
                                        {% else %}
                                            {{ document.Encabezado.Totales.MntTotal
                                                | number_format(0, ',', '.') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                {# No facturable -#}
                                {% if document.Encabezado.Totales.MontoNF is not empty %}
                                    <tr>
                                        <td>No facturable $:</td>
                                        <td>
                                            {% if otraMoneda %}
                                                {{ document.Encabezado.Totales.MontoNF
                                                    | number_format(2, '.', ',') }}
                                            {% else %}
                                                {{ document.Encabezado.Totales.MontoNF
                                                    | number_format(0, ',', '.') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {# Total PESO CL -#}
                                {% if document.Encabezado.OtraMoneda is not empty %}
                                    <tr>
                                        <td>Total {{ document.Encabezado.OtraMoneda.TpoMoneda }}:</td>
                                        <td>
                                            {{ document.Encabezado.OtraMoneda.MntTotOtrMnda
                                                | number_format(0, ',', '.') }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {# Monto periodo -#}
                                {% if document.Encabezado.Totales.MontoPeriodo is not empty %}
                                    <tr>
                                        <td>
                                            Monto período $:
                                        </td>
                                        <td>
                                            {% if otraMoneda %}
                                                {{ document.Encabezado.Totales.MontoPeriodo
                                                    | number_format(2, '.', ',') }}
                                            {% else %}
                                                {{ document.Encabezado.Totales.MontoPeriodo
                                                    | number_format(0, ',', '.') }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        {% if acuse_recibo is not empty %}
            <div class="container container-cedible">
                <p class="cedible">
                    {% if document.Encabezado.IdDoc.TipoDTE in ['52', '56', '61'] %}
                        CEDIBLE CON SU FACTURA
                    {% else %}
                        CEDIBLE
                    {% endif %}
                </p>
            </div>
        {% endif %}
        {# Footer #}
        <footer>
            Boletas y Facturas con LibreDTE -
            <a href="https://www.libredte.cl" style="text-decoration: none; color: inherit;">
                www.libredte.cl
            </a>
        </footer>
    </body>
</html>
